@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #f3e5d7;
  padding: 30px 0px;
}

.section {
  padding: 40px;
  background: #fff;
  width: 736px;
  margin: 0 auto;
  height: 1708px;
  border-radius: 10px;
}
.section img {
  border-radius: 12px;
  max-width: 656px;
  width: 100%;
}
.section .user-infos {
  margin-top: 40px;
  width: 100%;
  max-width: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.section .user-infos .user-info_title {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section .user-infos .user-info_title h1 {
  font-size: 40px;
  font-family: Young Serif;
  font-weight: 400;
  color: #312e2c;
}
.section .user-infos .user-info_title p {
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section .user-infos .preparation {
  padding: 28px;
  background: #fff7fb;
}
.section .user-infos .preparation h4 {
  font-size: 20px;
  font-weight: 600;
  color: #7a284e;
}
.section .user-infos .preparation ul {
  padding: 0 25px;
}
.section .user-infos .preparation ul li {
  color: #7a284e;
}
.section .user-infos .preparation ul li p {
  margin: 8px 0px 0px 16px;
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section .user-infos .ingredients {
  max-width: 656px;
  height: 204px;
}
.section .user-infos .ingredients h4 {
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 600;
  color: #7a284e;
}
.section .user-infos .ingredients ul {
  margin-top: 15px;
  padding: 0 25px;
}
.section .user-infos .ingredients ul li {
  color: #7a284e;
}
.section .user-infos .ingredients ul li span {
  display: block;
  margin: 5px 0px 0px 16px;
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section .user-infos .line {
  border: 1px solid #e3ddd7;
  max-width: 656px;
  height: 0px;
}
.section .user-infos .instructions {
  max-width: 656px;
  height: 332px;
  background: #fff7fb;
}
.section .user-infos .instructions h4 {
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 600;
  color: #7a284e;
}
.section .user-infos .instructions ol {
  margin-top: 15px;
  padding: 0 25px;
}
.section .user-infos .instructions ol li {
  font-weight: 700;
  font-size: 16px;
  color: #7a284e;
}
.section .user-infos .instructions ol li p {
  margin: 5px 0px 0px 16px;
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section .user-infos .nutrition {
  max-width: 656px;
  height: 278px;
  background: #fff7fb;
}
.section .user-infos .nutrition h4 {
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 600;
  color: #7a284e;
}
.section .user-infos .nutrition p {
  margin-top: 12px;
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section .user-infos .nutrition table {
  border-spacing: 0;
  width: 100%;
}
.section .user-infos .nutrition table td {
  color: #5f564d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 12px 0px 12px 32px;
  border-bottom: 1px solid #e3ddd7;
}
.section .user-infos .nutrition table .weight {
  font-weight: 700;
  color: #854632;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  .section {
    border-radius: 0;
    padding: 0px;
    width: 375px;
    height: 2123px;
  }
  .section img {
    border-radius: 0px;
    width: 375px;
    height: 171px;
  }
  .section .user-infos {
    margin: 0px;
    padding: 40px 32px;
    width: 375px;
    height: 1949px;
  }
  .section .user-infos .user-info_title {
    gap: 20px;
    width: 311px;
    height: 246px;
  }
  .section .user-infos .user-info_title h1 {
    font-size: 36px;
  }
  .section .user-infos .preparation {
    padding: 24px;
    border-radius: 12px;
    width: 311px;
    height: 196px;
  }
  .section .user-infos .ingredients {
    width: 311px;
    height: 228px;
  }
  .section .user-infos .instructions {
    width: 311px;
    height: 718px;
  }
  .section .user-infos .nutrition {
    width: 311px;
    height: 312px;
  }
  .section .user-infos .nutrition table {
    margin-top: 10px;
  }
}